spring:
  application:
    name: gateway-service
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: ingestion-service
              uri: lb://ingestion-service
              predicates:
                - Path=/api/v1/ingestion/**,/api/v1/movies/**,/api/v1/genres/**
              filters:
                - AuthenticationFilter
            - id: preprocessing-service
              uri: lb://preprocessing-service
              predicates:
                - Path=/preprocessing/**
              filters:
                - AuthenticationFilter
            - id: training-service
              uri: lb://training-service
              predicates:
                - Path=/training/**
              filters:
                - AuthenticationFilter
            - id: recommendation-service
              uri: lb://recommendation-service
              predicates:
                - Path=/recommendations/**
              filters:
                - AuthenticationFilter
            - id: movieBFF-service
              uri: lb://movieBFF-service
              predicates:
                - Path=/api/v1/recommendations/**
              filters:
                - AuthenticationFilter

            - id: auth-service
              uri: lb://auth-service
              predicates:
                - Path=/api/v1/auth/**
server:
  port: 8888

