spring:
  application:
    name: gateway-service
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: ingestion-service
              uri: lb://ingestion-service
              predicates:
                - Path=/ingestion/**
            - id: preprocessing-service
              uri: lb://preprocessing-service
              predicates:
                - Path=/preprocessing/**
            - id: training-service
              uri: lb://training-service
              predicates:
                - Path=/training/**
            - id: recommendation-service
              uri: lb://recommendation-service
              predicates:
                - Path=/recommendations/**

            - id: movieBFF-service
              uri: lb://movieBFF-service
              predicates:
                - Path=/movies/**
server:
  port: 8888

